.wrap > .container {
    margin-top: 10px;
    min-height: 1000px;
}

.carousel {
    width: 900px;
    margin: 0px auto;
}

div#load {
    width: 900px;
    margin: 0px auto;
}

#reg-form, #login-form {
    border-radius: 10px;
    border: 1px solid #CCCCCC;
    padding: 20px 0 0 0;
    background: #fff;
}

label[for="regform-verifycode"] {
    margin: 50px 0 0 0;
}

.field-regform-verifycode > div.col-lg-6 {
    margin: 50px 0 0 0;
}

#reg-form button[type='submit'] {
    background: #33CC33;
    color: #fff;
    margin: 0 0 0 374px;
}

#login-form button[type='submit'] {
    background: #33CC33;
    color: #fff;
    margin: 0 0 0 309px;
}

button[type='submit'], button[type='submit']:focus {
    background: #33CC33;
    color: #fff;
}

button[type='submit']:hover {
    background: #33CC33;
    box-shadow: inset 0px 0px 2px 0px #000;
    -webkit-box-shadow: inset 0px 0px 2px 0px #000;
    -moz-box-shadow: inset 0px 0px 2px 0px #000;
    -o-box-shadow: inset 0px 0px 2px 0px #000;
}

ul.breadcrumb {
    background: none;
}

.footer {
    border-top: 1px solid #33CC33;
    background: #222222;
    height: 100px;
}

.footer .container > p {
    width: 230px;
    margin: 40px auto;
    color: #fff;
}

.site-error h1 {
    color: #33CC33;
}

#result > .img-first, .name {
    margin: 700px 0 0 0;
}

.name {
    text-align: center;
    margin: 0 600px 0 0;
    padding: 0 0 30px 0;
}

#result span {
    color: #656365;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
}

#result h1 {
    color: #3e3e3e;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

.description p {
    color: #656365;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin: 73px auto 0;
    text-align: center;
    width: 635px;
}

.description {
    display: none;
}

#scroll-down {
    display:block;
    margin: 0px auto;
}